#app {
  &-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-contents {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #1e1e1e;
  }
}

.error-message {
  color: red;
  font-size: 13px;
  font-weight: bold;
  margin: 10px;
}

.info-message {
  font-size: 20px;
  font-weight: bold;

  &.small {
    font-size: 10px;
  }
}

.loading {
  display: inline-flex;

  & > .icon {
    margin-right: 10px;
  }
}
