.match-list-loading {
  margin: 50px 0;
  text-align: center;

  .match-loading {
    display: inline-flex;
    align-items: center;

    & > .icon {
      margin-right: 10px;
    }

    & > .message {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.match-list {
  padding: 0 10px;
  margin-bottom: 10px;

  .match {
    min-width: 624px;
    margin-bottom: 10px;
    border: 1px solid #cdd2d2;
    background-color: #fafbfc;

    & > .game-info {
      display: inline-block;
      vertical-align: top;

      & > .summary {
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
      }

      & > .requester {
        border-top: 1px solid #ccc;
        padding: 15px;

        & > .title {
          display: inline-block;
          width: 60px;
          color: #333333;
          font-size: 12px;
          vertical-align: middle;

          & > .win {
            color: #33a3f3;
            font-weight: bold;
          }

          & > .lose {
            color: #f4564f;
            font-weight: bold;
          }
        }

        & > .champion {
          display: inline-block;
          vertical-align: middle;
          line-height: 0;

          & > .icon {
            position: relative;
            vertical-align: top;
            margin-left: 5px;
            margin-right: 10px;
          }

          & > .icon > .level {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 95%;
            width: 16px;
            height: 16px;
            left: 100%;
            margin-left: -12.5px;
            margin-top: -10px;
            color: #e7e9eb;
            font-size: 9px;
            font-weight: bold;
            border: 1px solid #e7e9eb;
            border-radius: 12px;
            background-color: rgba(66, 66, 66, 0.7);
            user-select: none;
          }
        }

        & > .spell {
          display: inline-block;
          vertical-align: middle;
          line-height: 0;

          & > .icon {
            position: relative;
            margin-top: 2px;

            & > img {
              width: 22px;
              height: 22px;
            }
          }
        }

        & > .perk {
          display: inline-block;
          vertical-align: middle;
          line-height: 0;

          img {
            width: 22px;
            height: 22px;
          }
        }

        .main-info {
          display: inline-block;
          font-size: 15px;
          vertical-align: middle;
          margin: 0 1em;
          width: 70px;
          text-align: center;
          color: #222222;
          font-weight: bold;
        }

        .kda {
          & > .death {
            color: #f4564f;
          }

          & > .info {
            font-size: 12px;

            &.perfect {
              color: #64b1e4;
            }
          }
        }

        .sub-info {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          font-size: 12px;
          color: #555555;
        }

        .items {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          line-height: 0;
          margin: 0 1em;

          .container {
            display: flex;
            align-items: center;
          }

          .lines {
            display: inline-block;

            img {
              display: inline-block;
              border-radius: 2px;
              width: 26px;
              height: 26px;
            }

            .empty {
              display: inline-block;
              width: 26px;
              height: 26px;
              background-color: #333333;
            }
          }
        }
      }
    }

    .participants {
      display: inline-block;
      vertical-align: middle;
      border-left: 1px solid #cccccc;
      padding: 5px 10px;

      .blue {
        margin-right: 10px;
      }

      .blue,
      .purple {
        display: inline-block;

        .icon {
          img {
            width: 18px;
            height: 18px;
          }

          .name {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 70px;
            white-space: nowrap;
            color: #555555;

            &.requester {
              font-weight: bold;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
