.profile {
  margin: 10px 20px;

  & > .icon {
    position: relative;
    display: inline-block;

    & > img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px black solid;
    }

    & > .level {
      position: absolute;
      top: 100%;
      text-align: center;
      width: 50px;
      left: 50%;
      margin-left: -25px;
      margin-top: -15px;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border: 1px solid #3a3a3a;
      border-radius: 5px;
      background-color: #1b2838;
      padding: 1px;
    }
  }

  & > .info {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 10px;

    & > .name {
      font-size: 16px;
      font-weight: bold;
    }

    & > .tier {
      display: inline-block;
      vertical-align: middle;
      box-sizing: content-box;
      height: 86px;
      width: 224px;
      margin: 10px 5px;
      padding: 10px;
      background-color: #e4e9ed;
      border: 1px solid #cdd2d2;
      color: #141414;

      & .emblems {
        display: inline-block;
        & > img {
          width: 70px;
          height: 70px;
        }
      }

      & .info {
        display: inline-block;
        vertical-align: top;
        margin: 6px;
        font-size: 12px;

        & > .rank {
          font-size: 14px;
          font-weight: bold;
          color: #955dff;
        }

        & > .rank-point {
          font-weight: bold;
        }
      }
    }
  }
}
